
<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<nav>
  <a class="button" routerLink="/crisis-list" routerLinkActive="activebutton">Crisis Center</a> |
  <a class="button" routerLink="/heroes-list" routerLinkActive="activebutton">Heroes</a>
</nav>
<div>
  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('bg')">bg</button>
  <!-- translation: translation pipe -->
  <h1>{{ 'demo.title' | translate }}</h1>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>
</div>
<router-outlet></router-outlet>